<ion-view view-title="Signup">

  <ion-content>

    <ion-list>

      <ion-item class="item item-input">
        <i class="icon ion-ios-person-outline placeholder-icon"></i>
        <input type="text" placeholder="Your name">
      </ion-item>

      <ion-item class="item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input type="email" placeholder="Your email address">
      </ion-item>

      <ion-item class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input type="password" placeholder="Your password">
      </ion-item>

      <ion-item class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input type="password" placeholder="Repeat password">
      </ion-item>

      <ion-item class="item item-input">
        <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
        <input type="tel" placeholder="9878965892">
      </ion-item>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-blue">
    <div class="center">
      <a href="/#/tab/categories" class="button-large-blue">SIGNUP</a>

    </div>
  </ion-footer-bar>
</ion-view>
