<ion-view view-title="Categories">
  <ion-content class="padding">

<div class="cat-center">

  <div class="row">

  </div>

  <div class="row">
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">Casesheet      asdf</a>

    </div>
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">Book Appointment</a>
    </div>
  </div>

  <div class="row" >
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">View Lab Report</a>
    </div>
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">Cancel Appointment</a>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">Favorite</a>


    </div>
    <div class="col">
      <a href="/#/signup" class="button button-outline button-positive">Signup</a>

    </div>
  </div>

</div>




  </ion-content>
</ion-view>
