<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="About Us" icon-off="ion-ios-help-outline" icon-on="ion-ios-help-outline" href="#/tab/aboutus">
    <ion-nav-view name="tab-aboutus"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Categories" icon-off="ion-navicon" icon-on="ion-navicon" href="#/tab/categories">
    <ion-nav-view name="tab-categories"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contact" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone-outline" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
